{% extends 'includes/main.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="card shadow-sm border-0">
                    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center p-3">
                        <h4 class="card-title fw-bold m-0 px-4">
                            All Solutions
                        </h4>
                        <div class="card-toolbar">
                            <a href="{% url 'solution_add' %}" class="btn btn-light btn-sm d-flex align-items-center">
                                <i class="fas fa-plus me-1"></i> Add Solution
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Created</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for solution in solutions %}
                                <tr>
                                    <td>{{ solution.title }}</td>
                                    <td>{{ solution.categories }}</td>
                                    <td>{{ solution.created_at }}</td>
                                    <td>
                                        <a href="{% url 'solution_edit' solution.id %}"
                                           class="btn btn-sm btn-info">Edit</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4">No solutions found.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
