{% extends 'includes/main.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-5">
            <div class="card shadow-sm border-0">
                <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center p-3">
                    <h4 class="card-title fw-bold m-0 px-4">
                        {% if object %}Update{% else %}Add{% endif %} {{ page_title }}
                    </h4>
                    <div class="card-toolbar">
                        {% if list_link %}
                            <a href="{{ list_link }}" class="btn btn-light btn-sm d-flex align-items-center">
                                <i class="fas fa-list me-1"></i> {{ page_title }} List
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    {% include 'includes/form.html' %}
                </div>
            </div>
        </div>
        <div class="col-md-7 bg-white">
            <h3 class="my-4">Stock Entries for this Variant: <b>{{ variant }}</b></h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Timestamp</th>
                            <th>Quantity</th>
                            <th>Change Type</th>
                            <th>Adjustment Direction</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in stock_entries %}
                        <tr>
                            <td>{{ entry.timestamp|date:"Y-m-d H:i:s" }}</td>
                            <td class="text-center text-bold {% if entry.get_signed_quantity > 0 %} text-success  {% else %} text-danger {% endif %} ">
                                {{ entry.get_signed_quantity }}</td>
                            <td>{{ entry.get_change_type_display }}</td>
                            <td>
                                {% if entry.adjustment_direction %}
                                    {{ entry.get_adjustment_direction_display }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>{{ entry.notes }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">No stock entries found for this variant.</td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
            <b><h5> Total Stocks Available: {{variant.stock_quantity  }}</h5> </b>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}
